@define-mixin atSmall {
  @media (min-width:530px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width:800px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width:1200px) {
    @mixin-content;
  }
}
/*gives us
q space that allow floats to have room */
/*creates an empty div with a space to give past elements space*/
@define-mixin clearfix {
  content: "";
  clear: both;
  display: table;
}
